.heading{
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
}

.socialLinks{
    height: auto;
    margin-top: 30px;
    a{
       padding : 15px;
       background: $mainColor;
       border-radius: 60px;
       text-align: center;
       margin: 10px;
       color: $white;
       .socialIcon{
           text-align: center;
           padding : 0px;
           margin : auto
       }
       &:hover{
           animation : grow 500ms ;
       }
    }
}

@keyframes grow {
    0% { padding : 15px}
    25% { padding : 20px}
    50% { padding : 25px}
    75% { padding : 20px}
    100% { padding : 15px}
}