
.list{
    list-style: none;
    padding: 20px;
    &:hover{
        background-color: $white;
        a{
            color: $mainColor;
        }
    }
}

.menuContainer{
    background-color: $mainColor;
}

.menuIcon{
    display: none;
    z-index: 300;
    @media screen and (max-width : 991px) {
        display: flex;
    }

}

.tagA {
    text-decoration: none;
    color: $white;
    &:active{
        text-decoration: none;
        color: $white;
    }
}

.menu{
    // transition: height 400ms;
    // height: unset;
    // opacity: 1;
    transform: translateY(0%);
    @media screen and (max-width : 991px) {
        // .menu.active{
        //     height: auto;
        //     opacity: 1;
        //     transition: height 400ms;
        // }
        transform: translateY(-120%);
    }
}
.menu.active{
    transform: translateY(0%);
}

.headerContainer{
    height : 60px;
    transition: height 500ms;
    @media screen and (max-width : 991px) {
        justify-content: space-between !important;
        height : 60px;
        transition: height 500ms;
    }
}

.headerContainer.active{
    height : 60px;
    transition: height 500ms;
    @media screen and (max-width : 991px) {
        height : 450px;
        transition: height 500ms;
    }
}