// Override default variables before the import
$mainColor : #000000;
$white : #fff;
$gray : #e9e9e9;
$coverColor : #0000009e;

@mixin flex( $alignItems, $justifyContent, $direction ) {
    display: flex;
    align-items: $alignItems;
    justify-content : $justifyContent;
    flex-direction : $direction;
}



// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

@import './pageStyles/header.scss';
@import './pageStyles/slideShow.scss';
@import './pageStyles//carts.scss';
@import './pageStyles//heading.scss';
@import './pageStyles/portfolio.scss';
@import './pageStyles/app.scss';
@import './pageStyles//about.scss';
@import './pageStyles/contact.scss';
@import './pageStyles/footer.scss';
@import './pageStyles/loading.scss'


